.inputBox input:valid ~ span,
.inputBox input:focus ~ span {
    color: #00adb5;
    transform: translateX(8px) translateY(-23px);
    background-color: white;
    padding-bottom: 0;
    font-size: small;
}
